<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="intellisenseDev">
    <title>url.io &dash; url made easy</title>

    <link rel="canonical" href="index.html">
    <!-- Bootstrap core CSS -->
    <link th:href="@{~/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link th:href="@{~/css/style.css}" rel="stylesheet" type="text/css">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-admin-select: none;
            -moz-admin-select: none;
            -ms-admin-select: none;
            admin-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link th:href="@{~/style.css}" rel="stylesheet">
</head>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">url.io</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link " th:href="@{/}">Home</a>
                <a class="nav-link active"  th:href="@{/user/login}">Login</a>
                <a class="nav-link"  th:href="@{/user/register}">Register</a>
                <a class="nav-link"   th:href="@{/developer}">Developer</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <h1 class="cover-heading">Login</h1>

        <p th:if="${param.error}" class="error">
            <div class="alert alert-danger">
                Invalid Username or Password
            </div>
        </p>

        <form th:action="@{/user/login/processing}" method="post" class="form-horizontal" role="form">

            <div class="form-group">
                <div class="mb-3">
                    <input type="text" class="form-control" name="app_username" id="username" placeholder="Username" required="required">
                </div>
            </div>

            <div class="form-group">
                <div class="mb-3">
                    <input type="password" class="form-control" name="app_password" id="password" placeholder="" required="required">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <label>
                        <input type="checkbox"> Remember me
                    </label>
                    <button type="submit" class="btn btn-success">Login</button>
                </div>
            </div>
        </form>

        <form>
            <div>
                <label>
                    <p><span>&dash; OR &dash;</span></p>
                </label>
            </div>
            <div class="form-group">
                <div class="">
                    <button class="btn btn-primary">Google</button>
                    <button class="btn btn-primary">Facebook</button>
                </div>
            </div>
        </form>


    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Engine template for <a href="#">URL Shortner</a>, by <a href="#">intellisenseDev</a>.</p>
        </div>
    </footer>

    <script th:src="@{~/js/main.js}"></script>
    <script th:src="@{~/js/jquery/jquery-1.10.2.js}"></script>
</div>
</body>

</html>
